<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.antourage.weaverlib">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
                android:name=".screens.base.AntourageActivity"
                android:theme="@style/Theme.AppCompat.NoActionBar"
                android:windowSoftInputMode="adjustPan"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
        >
        </activity>
    </application>

</manifest>